<html>

<head>
  <title>Become a Dojo Ninja</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>

<body>
  <section id="wrapper">
    <h4>Fill out the form to become a Ninja</h4>{% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %} {% endif %} {% endwith %}
    <form action='/result' method='post'>
      Your Name:<input type='text' name='name'>
      <br /> Your Location:
      <input type='text' name='location'>
      <br /> Favorite Language:
      <input type='text' name='language'>
      <br />
      <input type='submit' value='Submit'>
    </form>
  </section>
</body>

</html>
