<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
  <title>Registration Form</title>
</head>

<body id="wrapper">
  <h1 class="title">Please complete the Registration Form<h1>
      {% with messages =get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
                <p style="color:red">{{message}} </p>
          {% endfor %}
      {% endif %}
      {% endwith %}

      <form action=/success method="POST">

        First Name:<input type="text" name="first_name">
        Last Name:<input type="text" name="last_name">
        Email:<input type="text" name="email">
        Password:<input type="password" name="password">
        Confirm Password:<input type="password" name="password_confirm">

        <input class="button" type="submit" name="submit" value="Register">
      </form>
</body>

</html>
